{%  extends "museoap/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/museoap/img/principal.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-1 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Espacio</span>
            <span class="section-heading-upper">De Arte</span>
          </h2>
          <p class="mb-3">Donde vas a poder informarte y poder vender y comprar Arte del bueno
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div  class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Galeria</span>
              </h2>
              <p class="mb-0">Formamos esta galería de arte para poder dar espacios a los artistas para que puedan mostrarse y tambien poder financiarse mediante su talento.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}



